:root {
    --warnaSheet1header: #F1F1F4;
    --warnaSheet1sub: #D0CECE;
    --warnaSheet1hijau: #66FFCC;
    --warnaSheet1pink: #FFA3A3;

    --warnaSheet2header: #ACB9CA;
    --warnaSheet2textAfterHeader: #002060;
    --warnaSheet2bodyDefault: #F2F2F2;
    --warnaSheet2bodyAbu: #D0CECE;
    --warnaSheet2bodyKuning: #FFFF00;
    --warnaSheet2bodyPink: #FCE4D6;
    
    --warnaSheet3header: #FFE699;
    --warnaSheet3textAfterHeader: #305496;
    --warnaSheet3bodyKuning: #FFFF00;
    --warnaSheet3bodyAbu: #D9D9D9;
}

#main {
    width: 90%;
    /* background-color: lightblue; */
    overflow-x: scroll;
}

/* SHEET 1 */
#table_11>thead {
    vertical-align: middle;
}

#table_11> tbody >tr > td {
    border: 1px solid #000;
}

#table_11>thead>tr>th {
    background-color: var(--warnaSheet1header);
    color: #fff;
    border: 1px solid #fff;
}

#table_11>tbody>#subBaru>td {
    font-weight: bold;
    background-color: var(--warnaSheet1sub);
}

#tdHijau {
    background-color: var(--warnaSheet1hijau);
}

#tdPink {
    background-color: var(--warnaSheet1pink);
}

#subEnd {
    background-color: var(--warnaSheet1header);
}

#blank {
    background-color: gray;
    background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        #ccc 10px,
        #ccc 20px
      ),
      /* on "bottom" */
      linear-gradient(
        to bottom,
        #eee,
        #999
      );
}


/* SHEET 2 */
#sheet2 {
    display: flex;
}

#sheet2 th {
    background-color: #F1F1F4;
    border: 1px solid #F1F1F4;
    text-align: center;
    vertical-align: middle;
}

/* #table_21>thead>tr>th, #table_22>thead>tr>th, #table_23>thead>tr>th, #table_24>thead>tr>th {
    background-color: var(--warnaSheet2header);
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
} */

#table_21>tbody>tr>td, #table_22>tbody>tr>td, #table_23>tbody>tr>td, #table_24>tbody>tr>td, #table_25>tbody>tr>td, #table_26>tbody>tr>td, #table_27>tbody>tr>td, #table_28>tbody>tr>td, #table_29>tbody>tr>td, #table_210>tbody>tr>td, #table_211>tbody>tr>td, #table_212>tbody>tr>td, #table_213>tbody>tr>td, #table_214>tbody>tr>td, #table_215>tbody>tr>td {
    border: 1px solid rgb(211, 211, 211);
    text-align: center;
    vertical-align: middle;
}

#sheet2 #textAfterHeader>td {
    color: var(--warnaSheet2textAfterHeader);
    text-align: center;
    background-color: #fff !important;
}

#sheet2 #bodyKuning {
    background-color: var(--warnaSheet2bodyKuning);
}

#sheet2 #bodyAbu {
    background-color: var(--warnaSheet2bodyAbu);
}

#sheet2 #bodyPink {
    background-color: var(--warnaSheet2bodyPink);
}

#sheet2 #bodyNoBorder {
background-color: #fff;
border: 0;
}


/* SHEET 3 */
#sheet3 {
    display: block ruby;
}

#table_31>thead>tr>th, #table_32>thead>tr>th, #table_33>thead>tr>th {
    background-color: #F1F1F4;
    border: 1px solid #F1F1F4;
    text-align: center;
    vertical-align: middle;
}
#table_31>tbody>tr>td, #table_32>tbody>tr>td, #table_33>tbody>tr>td {
    border: 1px solid #F1F1F4;
    text-align: center;
    height: 41px;
}

#sheet3 #textAfterHeader>td {
    color: var(--warnaSheet3textAfterHeader);
    text-align: center;
}

#sheet3 #bodyKuning {
    background-color: var(--warnaSheet3bodyKuning);
}

#sheet3 #bodyAbu {
    background-color: var(--warnaSheet3bodyAbu);
}