@{
  Layout = "_Layout";
  ViewData["Title"] = "Sale Order";
}


<div class="container p-5">
    <div class="row justify-content-between p-5 border border-dark border-2" style="border-radius: 15px;">
        <!-- Input for Keyword -->
        <div class="col-md-5">
            <div class="mb-3 d-flex align-items-center">
                <label for="keyword" class="form-label me-3 text-nowrap">Keyword</label>
                <input type="text" class="border-2 form-control border-dark flex-grow-1" id="keyword" name="keyword" placeholder="Enter keyword" style="border-radius: 10px;"/>
            </div>
        </div>

        <!-- Input for Order Date -->
        <div class="col-md-5">
            <div class="mb-3 d-flex align-items-center">
                <label for="orderDate" class="form-label me-3 text-nowrap">Order Date</label>
                <input type="date" class="border-2 form-control border-dark flex-grow-1" id="orderDate" name="orderDate" style="border-radius: 10px;"/>
            </div>
        </div>
    </div>

    <div class="row w-max justify-content-between mt-4">
      <div class="col-md-7">
        <a asp-controller="Sale" asp-action="Edit" class="btn btn-red text-light">Add New Data</a>
        <button type="button" class="btn btn-export text-light">
            <i class="fa fa-file-excel"></i> Export To Excel
        </button>

      </div>
      <div class="col-md-4 text-end">
        <button type="button" class="btn btn-hint text-light">
              <i class="fa fa-circle-question text-light"></i> Hint
        </button>
      </div>
    </div>

    <div class="row bg-white mt-5">
      <table class="table table-striped">
        <thead>
          <tr class="table-primary">
            <th scope="col">No</th>
            <th scope="col">Action</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

